.title{
    color: #242424;
    margin: 50px ;
}
.grid-blog {
    display: grid;
    grid-template-columns: 65% 30%;
    column-gap: 5%;
    margin-left:50px;      
}

.grid__item--Right{
    display:grid;
    grid-row-gap: 40px;

}


.grid-item{
    
    background-color: white;
    text-align: left;
    padding:20px;
    border: 2px solid #bbb;
    border-radius: 20px; 
    display:flex ;
    box-sizing: border-box;
                    
}
.PostItem_image img{
    border-radius: 20px;
    display: block;
    height: 150px;
    border-style: none;
    width: 250px;
    border-style: none;
    margin-top:70px; 
}

.grid-item-notification {
    padding-right: 32px;
}
.tag-full-stack {
    background-color: #f2f2f2;
    border-radius: 50px;
    color: rgb(27, 27, 27);
    line-height: 2rem;
    margin-right: 12px;
    padding: 4px 10px;
    text-decoration: none;
}
.tag-time {
    margin: 8px;
}

.PostItem_author{
    align-items: center;
    display: flex;
}
.PostItem_author img {
    border-radius: 50%;
    border-style: none;
    height: 20px;
    width: 20px;
    outline: none;
    align-items:flex-start;
}
.PostItem_author span {
    color: #292929;
    margin-left: 8px;
    
}
.PostItem_author a{
    outline: none;
    text-decoration: none;
    
}
.title-left h3 {
    color: #757575;
    line-height: 1.8;
    text-transform: uppercase;
}
.title-item {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.title-item a {
    background-color: #f2f2f2;
    border-radius: 30px;
    color: #333;
    display: block;
    line-height: 1.8;
    margin: 0 8px 8px 0;
    padding: 6px 16px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:black;
}