footer{
    position: relative;
    width: 100%;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer  .container .noi-dung.about{
    width:40%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about p{
    color: #999;
}
footer .container .noi-dung.about p:nth-child(4){
    color: #999;
    display: flex;
    margin-top: 48px
}
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon  a{
    display: inline-block;
    width:40px;
    height:40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px;
    text-decoration: none;
    background: #222;
    margin-right: 10px;
}
.social-icon  a:hover{
    background: #f00;
}
.social-icon a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links{
    position: relative;
    width: 20%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}
.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact{
    width: calc(20% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span :nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}

